@media only screen and (max-width: 768px) {
	/* Cases */
	.our-cases,
	.case-submission,
	.our-clients {
		margin: 40px 20px;
	}
	.case-container {
		flex-direction: column;
	}

	.ourCasesLeftItem,
	.ourCasesRightItem {
		width: 100%;
	}

	.case-submission {
		flex-direction: column;
		align-items: center;
	}
	.case-submission-left {
		width: 100%;
	}

	.submission-card {
		width: 100%;
	}
	.input-item {
		margin: 5px;
	}
}
